[Unit]
Requires=roscore.service usb_cam.service jetmax_control.service
After=NetworkManager.service time-sync.target usb_cam.service jetmax_control.service

[Service]
Type=simple
User=hiwonder
Restart=always
RestartSec=5
KillMode=mixed
ExecStart=/home/hiwonder/ros/autostart/alphabetically.bash

[Install]
WantedBy=multi-user.target


